#Ollie {
  width: 300px;
  height: 200px;
}
#Mona {
  width: 300px;
  height: 200px;
}
#Frankie {
  width: 300px;
  height: 200px;
}
#Coconut {
  width: 300px;
  height: 200px;
}
#Mella {
  width: 300px;
  height: 200px;
}
#Karl {
  width: 300px;
  height: 200px;
}
#Cookie {
  width: 300px;
  height: 200px;
}
#Earl {
  width: 300px;
  height: 200px;
}
#Banana {
  width: 300px;
  height: 200ps;
}
#Wren {
  width: 300px;
  height: 200px;
  }
  #Aspen {
    width: 300px;
    height: 200px;
  }
  #Mika {
    width: 300px;
    height: 200px;
  }
  footer {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }
  body {
    background-color: beige
  }